{% resource 'ccca/livicons' %}

{# h.basket_list_for_pkg returns available baskets for a package #}
{% set baskets = h.basket_list_for_pkg(c.user, package.id) %}
{% set add = True %}
{% if baskets|length == 0 %}
    {% set add = False %}
    {% set baskets = h.basket_list(c.user) %}
{% endif %}

{% if baskets|length > 0 %} {# If User has any baskets at all #}
  <div class="dropdown btn-group pull-right">
    <a href="#" title="{% if add %}{{ _('Add Dataset to Basket') }}{% else %}{{ _('Remove Dataset from Basket') }}{% endif %}" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="livicon-evo" data-options="
           name: box-{% if add %}add{% else %}extract{% endif %}.svg;
           size: 30px;
           style: lines;
           strokeColor: #003647;
           eventType: click;">
        </span>
    </a>
    <ul class="dropdown-menu">
        {% for basket in baskets %}
          <li>
              <a href="{% if add %}{{ h.url_for(controller='ckanext.basket.controllers.basket:BasketController', action='add_package_to_basket', basket_id=basket.id, package_id=package.id, redirect_url=redirect_url) }}
              {% else %}{{ h.url_for(controller='ckanext.basket.controllers.basket:BasketController', action='remove_package_from_basket', basket_id=basket.id, package_id=package.id, redirect_url=redirect_url) }} {% endif %}"
              title="{% if add %}{{ _('Add') }}{% else %}{{ _('Remove') }}{% endif %}">
                <span class="livicon-evo" data-options="
                name: box.svg;
                size: 20px;
                style: lines;
                strokeColor: #003647;
                eventType: none;
            "></span>
            {{ basket.name }}
            </a>
          </li>
      {% endfor %}
    </ul>
</div>
{% endif %}  {# If User has any baskets at all #}
