{% resource 'ccca/livicons' %}

{% ckan_extends %}

{% block notes %}
{{super()}}
  <div class="dropdown btn-group pull-right">
    <a href="#" title="{{ _('Add to Basket') }}" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="livicon-evo" data-options="
           name: box-add.svg;
           size: 30px;
           style: lines;
           strokeColor: #003647;
           eventType: none;">
        </span>
    </a>
    <ul class="dropdown-menu">
      {% set baskets = h.basket_list(c.user) %}
      {% for basket in baskets %}
          <li>
              <a href="{{ h.url_for(controller='ckanext.basket.controllers.basket:BasketController', action='index') }}" title="{{ _('My Baskets') }}">
                <span class="livicon-evo" data-options="
                name: box.svg;
                size: 20px;
                style: lines;
                strokeColor: #003647;
                eventType: none;
            "></span>
            {{ basket.name }}
            </a>
          </li>
      {% endfor %}
    </ul>
</div>
{% endblock %}
