{% ckan_extends %}

{% block page_primary_action %}
    {% set baskets = h.basket_list_for_pkg(c.user, None) %}

    {% if baskets|length > 0 %}
        <div class="dropdown pull-right">
          <a href="#" title="{{ _('Add all Packages to Basket') }}" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
              <span class="livicon-evo" data-options="
                 name: box-add.svg;
                 size: 33px;
                 style: lines;
                 strokeColor: #fff;
                 eventType: none;">
              </span>
          </a>
          <ul class="dropdown-menu">
              {% for basket in baskets %}
                <li>
                    <a href="{{ h.url_for(controller='ckanext.basket.controllers.basket:BasketController', action='add_org_packages_to_basket', basket_id=basket.id, org_id=c.group_dict.id)}}" title="{{ _('Add all') }} {{c.page.items|length }} {{ _('Packages to') }} {{basket.name}}">
                      <span class="livicon-evo" data-options="
                      name: box.svg;
                      size: 20px;
                      style: lines;
                      strokeColor: #003647;
                      eventType: none;
                  "></span>
                  {{ basket.name }}
                  </a>
                </li>
            {% endfor %}
          </ul>
        </div>
    {% endif %}
{% endblock %}
